scikit-learn
scikit-image
scipy
seaborn
tensorboardX
tensorboard
captum
torch==1.12.0
torchvision==0.13.0
tornado
tqdm
segmentation-models-pytorch
numba
medpy
numpy==1.21
click
pycocotools
opencv-python-headless<4.3
albumentations==1.1.0