scikit-learn
scikit-image
scipy
seaborn
tensorboardX
tensorboard
captum
torch
torchaudio
torchvision
tornado
tqdm
monai
segmentation-models-pytorch
numba
medpy
numpy==1.21
click
pycocotools
opencv-python
albumentations